
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Invoices</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <style>

            html,body {
                font-family: 'Roboto', san-serif;
                font-style: normal;
                font-size: 16px;
            }

            a{
                font-weight: bold
            }

            .add_button{
                width: 75px;
                height: 45px;
                background: linear-gradient(180deg, #DC2C2C 0%, #FF3B3C 99.99%, rgba(183, 27, 27, 0) 100%);
                border: none;
                color: #FFFFFF;
            }

            .submit_button{
                width: 90px;
                height: 45px;
                background: linear-gradient(180deg, #DC2C2C 0%, #FF3B3C 99.99%, rgba(183, 27, 27, 0) 100%);
                border: none;
                color: #FFFFFF;
            }

            label{
                font-weight: bold;
            }

            .warning{
                color: #DC2C2C;
            }

            #total_value_div{
                font-size: 14px;
                font-weight: bold;
                background-color: #FFD4D4;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            .interact{
                border: none;
                background-color: #FFFFFF;
            }

        </style>
    </head>
    <body>
        <div class="container">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#"><img src="static/images/logo.png" height="46px" width="46px" alt="Itobuz"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <span class="w-100"></span>
                    <div class="collapse navbar-collapse navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item px-2">
                                <a class="nav-link" href="products">Products</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link " href="customers">Customers</a>
                            </li>
                            <li class="nav-item px-2 active">
                                <a class="nav-link" href="invoices">Invoices</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <hr class="my-0">

            <div id="top-form" class="py-4">
                <form name="cust-details">
                    <div class="row">
                        <div id="name-block" class="col-md-6">
                            <div class="row">
                                <div class="col-md-5 my-auto pt-2">
                                    <label for="name">Customer Name</label>
                                </div>    
                        
                                <div class="col-md-7">
                                    <select class="form-control" name="name" id="customer_names">
                                        <option value="" class="lol" disabled selected>Select</option>
                                    </select>
                                </div> 
                            </div>
                        </div>
                        <div id="discount-block" class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 my-auto pt-2">
                                    <label for="discount">Discount</label>
                                </div>    
                        
                                <div class="col-md-8">
                                    <input class="form-control" placeholder="10" type="number" name="discount" id="discount" required></input>
                                </div> 
                            </div>
                        </div>
                        
                    </div>
                    
                </form>
            </div>
            <div class="row">
                <div class="warning col-sm-6"></div>
                <div class = "button_fields col-sm-6 text-right">
                    <input type="submit" class="submit_button" value="Submit" onclick="add_invoice()">
                    <input type="button" class="add_button" value="Add+" onclick="add_invoice_item()">
                
                </div>
            </div>
            
            <hr>
            <div id="invoice-items-forms-div"></div>
            <div id="total_value_div" class="py-3 px-3">
                <span>TOTAL</span>
                <span id="total_value"></span>
            </div>
        </div>

        <script src="static/scripts/invoice_list.js"></script>
    </body>
</html>






