<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class = "container">
			<div id="form-div" class = "row">
                <form name="user-login">
                    <h6>LOGIN</h6>
                    <div id="user-block">    
                        <label for="username">Username</label>
                        <input type="text" placeholder="Type Your Name" name="username" required>
                    </div>
                    <div id="pass-block">
                        <label for="password">Password</label>
                        <input type="password" placeholder="********" name="password" required>
                    </div>
                    
                    <div class="form-bottom">
                        <small><a href="/">Forgot password?</a></small>
					    <button type="button" onclick="login(this.form)">LOGIN</button>    
                    </div>
                </form>
			</div>
            <div id="alert"></div>	
        </div>
        <script>
            var alertbox = document.getElementById("alert")

            function login(frm){
                if (frm.username.value.length === 0 || frm.password.value.length === 0){
                    alertbox.innerHTML = "Username or Password field cannot be empty"
                }
                else{
                    fetch('http://localhost:3000/api/users/login',{
                        method: 'POST',
                        body: JSON.stringify({
                            "username": frm.username.value,
                            "password": frm.password.value
                        }),
                        headers: {
                            "Content-type": "application/json"
                        }
                    }).then(res=>{
                        if (res.status===403){
                            alertbox.innerHTML = "Username does not exist"
                        }
                        else{
                            return res.json()
                        }
                    })
                    .then((data)=>{
                            console.log(data)    
                            if (data.token===null){
                                alertbox.innerHTML = "You've entered a wrong password"
                            }
                            else{
                                localStorage.setItem("token", data.token)
                                window.location = "./customer";  
                            }
                        })
                }
            }
        </script>
    </body>
</html>